<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xywg.iot.modular.product.dao.ProductMethodMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xywg.iot.modular.product.model.ProductMethod">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="key" property="key" />
        <result column="sync" property="sync" />
        <result column="description" property="description" />
        <result column="product_id" property="productId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, key, sync, description, product_id AS productId
    </sql>

</mapper>
