<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xywg.iot.modular.remote.dao.DeviceRemoteConfigMapper">

    <!-- &lt;!&ndash; 开启二级缓存 &ndash;&gt;
     <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <select id="selectConfigPageList" resultType="com.xywg.iot.modular.remote.model.vo.DeviceRemoteConfigVO">
        select
         a.id,
         a.product_id as productId,
         a.json_string AS jsonString,
         a.create_time as createTime,
         a.create_user AS createUser,
         a.create_user_name AS createUserName,
         b.name as productName,
         b.product_key as productKey
        FROM t_device_remote_config a
        left join  t_product_info b on a.product_id= b.id  and b.is_del=0
        where a.is_del = 0
        ${ew.sqlSegment}

    </select>


</mapper>
