<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xywg.iot.modular.system.dao.AreasMapper">

   <!-- &lt;!&ndash; 开启二级缓存 &ndash;&gt;
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->
    <select id="getAreasList" resultType="com.xywg.iot.modular.system.model.Areas">
        select
            id,
            areaname  as  areaName,
            parentid as  parentId,
            shortname AS shortName,
            areacode AS areaCode,
            zipcode AS zipCode,
            pinyin,
            lng,
            lat,
            level,
            position,
            sort
        from sys_areas
        where 1=1
        <if test="parentId !=null " >
           and  parentid=#{parentId}
        </if>
        <if test="areaName !=null  and  areaName!='' ">
            and areaname like concat('%',#{areaName},'%')
        </if>

    </select>



</mapper>
